<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ha-Blog Shel Shauli</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <h1 class="TitleShauli">Ha-Blog Shel Shauli</h1>
    </header>
    <nav>
        <!-- Navigation -->
        <ul>
            <li class="selected"><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Archives</a></li>
            <li><a href="#">Contact</a></li>
            <li class="subscribe">
                <div id="transDemo2">
                    <div class="hover">
                        <img src=http://www.ashlylorenzana.com/wp-content/uploads/2013/12/12065637851779660844SRD_RSS_Logo.svg_.hi_.png width="30" height="30">
                    </div>
                </div>
            </li>
            <li><a href="#">Subscribe via. RSS</a></li>
        </ul>
    </nav>
   
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
