@model IEnumerable<ShauliBlog.Models.Fan>

@{
    ViewBag.Title = "Fans Club List";
}

@section ContentSection {
<h2>Fans Club</h2>

<p>
    @Html.ActionLink("Create New", "Create") &nbsp&nbsp&nbsp
    @Html.ActionLink("Fans by country", "FansByCountry", new { type = 2 })
</p>
    

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="/FansClub/SearchFan" method="post" role="form">
                    <div class="input-group" id="adv-search">
                        <input name="Name" id="Name" type="text" class="form-control" placeholder="Search for Fan" />
                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <div class="dropdown dropdown-lg">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                        <div class="form-group">
                                            <label for="contain">Birthday</label>
                                            <input name="Birthday" id="Birthday" class="form-control" type="date" />
                                        </div>
                                        <div class="form-group">
                                            <label for="contain">Country</label>
                                            <select class="form-control"  name="Country" id="Country">
                                                <option value="All" id="Country1" selected>All Countries</option>
                                                <option value="Israel" id="Country2">Israel</option>
                                                <option value="USA" id="Country3">USA</option>
                                                <option value="Italy" id="Country4">Italy</option>
                                                <option value="Iraq" id="Country5">Iraq</option>
                                            </select>
                                         </div>
                                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pazam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pazam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
@if (ShauliBlog.Code.AccountHelper.IsAdmin())
{
            @Html.ActionLink("Edit ", "Edit", new { id = item.ID });
            @Html.ActionLink("| Details ", "Details", new { id = item.ID });
            @Html.ActionLink("| Delete", "Delete", new { id = item.ID });
}
        </td>
    </tr>
}

</table>
}
