@model ShauliBlog.Models.Post

@{
    ViewBag.Title = "Home Page";

}

@section ContentSection
{
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form action="Posts/SearchPost" method="post" role="form">
                            <div class="input-group" id="adv-search">
                                <input name="Title" id="Title" type="text" class="form-control" placeholder="Search for post" />
                                <div class="input-group-btn">
                                    <div class="btn-group" role="group">
                                        <div class="dropdown dropdown-lg">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                                <div class="form-group">
                                                    <label for="contain">Date</label>
                                                    <input name="PublishDate" id="PublishDate" class="form-control" type="date" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="contain">Fan Name</label>
                                                    <input value="" name="FanName" id="FanName" class="form-control" type="text" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="contain">Contains the words</label>
                                                    <input type="text" value="" name="Content" id="Content" class="form-control" />
                                                </div>
                                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <article class="blogPost">
                <header>
                    <h2>@Model.Title</h2>
                    <p>
                        Posted on <time>@Html.DisplayFor(model => model.PublishedDate)</time> by <a href="@Model.AuthorSiteUrl">@Model.Author</a> - <a href="#comments">@Model.Comments.Count comments</a>
                        <br />
                        Tags:
                        @foreach (var tag in Model.Tags)
                        {
                            <a href="/Blog/PostsByTag?tags=@tag.ID-"> @tag.Name </a>
                        }
                        <a href="/Blog/PostsByTag?tags=@Model.tagsToString">
                            <button> Give me more like that </button>
                        </a>
                    </p>


                </header>
                <div>
                    <p>@Model.Content</p>

                    <img src="@Model.ImageUrl" />

                    @if (!string.IsNullOrEmpty(Model.VideoUrl)) {
                        if (Model.VideoUrl.StartsWith("http") || Model.VideoUrl.Contains("/")) {
                            <video controls="controls">
                                <source src="@Html.DisplayFor(model => model.VideoUrl)" type="video/mp4" />
                                Your browser does not support the video tag.
                            </video>
                        }
                        else {
                            var videoFullURL = "https://www.youtube.com/embed/" + Model.VideoUrl;
                            <iframe width="720" height="405" src="@videoFullURL" frameborder="0" allowfullscreen></iframe>
                        }

                    }


                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=shauliBlog.com&quote=@Model.Title-@Model.Content" style="float: right; display:block;  width: 150px; height:35px;">
                        <img src="~/images/facebookshare.png" width="150" height="30" />
                    </a>


                </div>
            </article>
        </section>
        <section id="comments">
            <h3>Comments</h3>
            @foreach (var comment in Model.Comments)
            {
                <article>
                    <header>
                        <a href="@comment.AuthorSiteUrl">@comment.Author</a> on <time>@Html.DisplayFor(model => comment.PublishedDate)</time>
                    </header>
                    <p>@comment.Content</p>
                </article>
            }
        </section>
        <form action="/Blog/AddComment" method="post">
            <h3>Post a comment</h3>
            <p>
                <label for="Author">Name</label>
                <input name="Author" id="Author" type="text" required />
            </p>
            <p>
                <label for="AuthorSiteUrl">E-Maill</label>
                <input name="AuthorSiteUrl" id="AuthorSiteUrl" type="email" required />
            </p>
            <p>
                <label for="Content">Comment</label>
                <textarea name="Content" id="Content" required></textarea>
            </p>
            <p>
                
                <input name="PostID" id="PostID" value="@Model.ID" type="hidden" />
            </p>
            <p><input type="submit" value="Post comment" /></p>
        </form>
}